.Avatar {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    max-width: 400px;
    grid-template-areas: 
    "tittel tittel"
    "input input";
}

.tittel {
    grid-area: tittel;
    font-size: large;
}

#Time {
    background-color: yellow;
    max-width: 22%;
}

#imgCar {
    width: 300px;
}

body {
    margin: 10px;
    background-color: beige;
}

Input {
    display: block;
}

#Race {
    display: none;
}