
body {
    margin: 10px;
    background-image: url(https://img.wallpapersafari.com/desktop/1600/900/35/24/AsF9hY.jpg);
    background-color: #cccccc;
    background-size: 1500px;
    background-repeat: repeat;
    position: relative;
    font-family: 'Alfa Slab One';
    font-size: 20px;
    color: orange;
}

.Avatar {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    max-width: 400px;
}


Input {
    display: block;
    font-family: 'Alfa Slab One';
    background-color: rgba(212, 144, 17, 0.51);
    color: black;
}

#Color {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}

#Choose_car {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}

#Fuel {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}
#Engine {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}

#Switch {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}

#Start {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}

#Stop {
    font-family: 'Alfa Slab One'; 
    background-color: rgba(212, 144, 17, 0.812); 
    color: black"
}

#Time {
    background-color: yellow;
    max-width: 65px;
}

#Lambo {
    width: 300px;
}
#Ferrari {
    width: 300px;
}

#Race {
    display: none;
}

.Racingtrack {
    row-gap: 15px;
    border: 2px solid black;
    background-color: black;
    padding-left: 5px;
    padding-right: 5500px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 400px;
}

#Racing_Stripe_1 {
    background-color: yellow;
    width: 5000px;
    color: yellow;
    font-size: xx-small;
}

#Racing_Stripe_2 {
    background-color: yellow;
    width: 5000px;
    color: yellow;
    font-size: xx-small;
    padding-top: 1px;
}