.russekort {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    border: 2px solid black;
    max-width: 400px;
    grid-template-areas: 
        "tittel tittel"
        "bilete russetype"
        "bilete namn"
        "bilete adresse"
        "bilete skulestad"
        "bilete telefon"
        "bilete sitat";
}

.tittel {
    grid-area: tittel;
    font-family: 'Alatsi';
    font-size: 22px;
}

.bilete {
    grid-area: bilete;
    border: 1px solid red;
    
}

.bilete img {
    max-width: 170px;
    max-height: 150px;
} 

.russetype {
    grid-area: russetype;
    font-family: 'Damion';
    font-size: 34px;
}

.namn {
    grid-area: namn;
    font-size: 20px;
}

.adresse {
    grid-area: adresse;
}

.telefon {
    grid-area: telefon;
}

.sitat {
    grid-area: sitat;
}
.skulestad {
    grid-area: skulestad;
}

body {
    background-color: beige;
}