.pizzameny {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    border: 2px solid black;
    max-width: 1000px;
    grid-template-areas: 
        "tittle tittle"
        "bilete bilete"
        "velgmeny velgmeny"
        "ekstra ekstra"
        "fjern fjern"
        "result result"
        "forklaring forklaring";
}

.tittle {
    grid-area: tittle;
    font-family: 'Libre Baskerville';
    font-size: 50px;
    color: rgb(7, 7, 7);
}

.bilete {
    grid-area: bilete;
}

.bilete img {
    max-width: 100;
    max-height: 200;
}

.velgmeny {
    grid-area: velgmeny;
    font-family: 'Libre Baskerville'; 
}

.ekstra {
    grid-area: ekstra;
    font-family: 'Libre Baskerville';
}

.fjern {
    grid-area: fjern;
    font-family: 'Libre Baskerville';
}

.result {
    grid-area: result;
    font-family: 'Libre Bakerville';
}

.forklaring {
    grid-area: forklaring;
    font-family: 'Libre Baskerville';
}

/*
 * Giving the body the color beige
 */
body {
    background-color: beige;
}